/*-------- D3 Tooltip --------*/

.d3-tip {
	display: none;
	z-index:1000;
	position: absolute;
	font-size:12px;
	line-height: 16px;
	font-weight: bold;
	padding: 8px 10px 0 10px;
	background: rgba(0, 0, 0, 0.8);
	color: #fff;
	border:2px solid rgba(0,0,0,0.8);
	border-radius: 2px;
	pointer-events:none;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
	pointer-events:none;
	box-sizing: border-box;
	display: inline;
	font-size: 10px;
	width: 100%;
	line-height: 1;
	color: rgba(0, 0, 0, 0.8);
	content: "\25BC";
	position: relative;
	text-align: center;
	bottom:-11px;
	left:50%;
}

.d3-tip.left:after{
	left:-7px;
}

.d3-tip.right:after{
	left:100%;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
	margin: -1px 0 0 0;
	top: 100%;
	left: 0;
}

.d3-tip strong{
	pointer-events:none;
	font-weight:bold;
	font-size:16px;
	line-height:20px;
	margin:0;
	padding:0;
	padding-bottom:4px;
}


.d3-tip strong.center{
	text-align:center;
	display:block;
}
